.footer1 {
  display: none;
}

@media (max-width: 780px) {
  .footer1 {
    display: block;
  }

  .footer1 {
    padding: 1rem 1rem;
    border-top: 1px solid #334155;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .footer1 p {
    color: var(--muted-text);
    font-size: 0.9rem;

  }

  .footer1 div {
    display: flex;
    gap: 1.5rem;
  }

  .footer1 a {
    text-decoration: none;
    color: var(--muted-text);
    transition: color 0.3s ease;
  }

  .footer1 a:hover {
    color: var(--accent-color);
  }

  /* .app {
    align-items: center;
    justify-content: center;
  } */
}