/* .about-content{
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    gap: 20px;
    margin: 5em 0;
}

.about-content p{
    font-size: 2rem;
}

.about{
    background-color: blueviolet;
} */