/* footer {
    padding: 1rem 1rem;
    border-top: 1px solid #334155;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer p {
    color: var(--muted-text);
    font-size: 0.9rem;

}

footer div {
    display: flex;
    gap: 1.5rem;
}

footer a {
    text-decoration: none;
    color: var(--muted-text);
    transition: color 0.3s ease;
}

footer a:hover {
    color: var(--accent-color);
} */