/* Hero section styling */

#hero {
    min-height: 100vh;
    display: flex;
    align-items: center;
    padding: 4rem 6rem;
}

/* 
.hero-section h1 {
    font-size: 3.5rem;
    line-height: 1.2;
    margin-bottom: 1rem;
}

.hero-section h2 {
    color: var(--accent-color);
    font-size: 1.8rem;
    margin-bottom: 1.5rem;

}

.hero-description{
    max-width: 650px;
    color: var(--muted-text);
    font-size: 1.1rem;
    margin-bottom: 1.5rem;
    
} */




#hero p {
    color: var(--muted-text);
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
}

#hero h1 {
    font-size: 3.5rem;
    line-height: 1.2;
    margin-bottom: 1.5rem;
}

#hero h2 {
    color: var(--accent-color);
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
}

#hero .hero-description {
    max-width: 650px;
    color: var(--muted-text);
    font-size: 1.1rem;
    margin-bottom: 2rem;
}

.hero-buttons {
    display: flex;
    gap: 1rem;
}

.hero-buttons a {
    display: inline-block;
    padding: 1.75rem, 2rem;
    text-decoration: none;
    border: 1px solid var(--accent-color);
    color: var(--accent-color);
    border-radius: 6px;
    transition: all 0.3s ease;
    padding: 0 0.15rem;
    /* width: 10em; */
}

.hero-buttons a:hover {
    background-color: var(--accent-color);
    color: var(--bg-color);
}


#hero .hero-code {
    font-family: monospace;
    color: var(--accent-color);
    font-size: 0.95rem;
    margin-bottom: 2rem;
}

.hero-section {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4rem;
    padding: 4rem 6rem;
}

.content-hero {
    flex: 1;
}


.hero-image {
    width: min(100%, 350px);
    aspect-ratio: 3.5/5;
    /* 
    width: 100%;
    max-width: 350px; */
    height: auto;
    object-fit: cover;
    border-radius: 12px;
    flex-shrink: 0;
}


/* .logoimg {
    height: 140px;
    position: fixed;
    width: 100vw;
    top: 0;
    left: 0;
    height: auto;
    z-index: 1000;
    background-color: var(--card-color);

}

.logoimg img {
    height: 100px;
    position: fixed;
    display: none;
    background-color: var(--card-color);
} */


@media (max-width: 780px) {

    #hero {
        margin: 100px auto;

        width: 100vw;
        padding: 15%;

    }

    .hero-image {
        display: none;
    }

    /* 
    #hero .logoimg {
        display: block;
        background-color: var(--card-color);
        height: 100px;
    }

    .logoimg img {
        display: inline;
    } */

}