/* Hero section styling */

#hero {
    min-height: 100vh;
    display: flex;
    align-items: center;
    padding: 4rem 6rem;
}

#hero p {
    color: var(--muted-text);
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
}

#hero h1 {
    font-size: 3.5rem;
    line-height: 1.2;
    margin-bottom: 1.5rem;
}

#hero h2 {
    color: var(--accent-color);
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
}

#hero .hero-description {
    max-width: 650px;
    color: var(--muted-text);
    font-size: 1.1rem;
    margin-bottom: 2rem;
}

.hero-buttons {
    display: flex;
    gap: 1rem;
}

.hero-buttons a {
    display: inline-block;
    padding: 0.75rem, 1.5rem;
    text-decoration: none;
    border: 1px solid var(--accent-color);
    color: var(--accent-color);
    border-radius: 6px;
    transition: all 0.3s ease;
    padding: 0 0.15rem;
    /* width: 10em; */
}

.hero-buttons a:hover {
    background-color: var(--accent-color);
    color: var(--bg-color);
}

.hero-code {
    font-family: monospace;
    color: var(--accent-color);
    font-size: 0.95rem;
    margin-bottom: 1.5rem;
}


.hero-image {
    width: min(100%, 350px);
    aspect-ratio: 3.5/5;

/* 
    width: 100%;
    max-width: 350px; */
    height: auto;
    object-fit: cover;
    border-radius: 12px;
}