.sidebar {
    width: 240px;
    min-height: 100vh;
    position: fixed;
    left: 0;
    top: 0;

    display: flex;
    flex-direction: column;

    padding: 2rem 1.5rem;
    border-right: 1px solid #334155;
    background-color: var(--card-color);

    z-index: 1;
}

/* .social-links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

} */

.logo {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 3rem;

}

ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;

}

ul a {
    text-decoration: none;
    color: var(--muted-text);
    font-size: 1rem;
    transition: color 0.3s ease;

}

.nav-lists a:hover {
    color: var(--accent-color);
}

/* cut from here and pasted in sociallinks */

/* footer */

.sidebar footer {
    padding: 0;
    border-top: 1px solid #334155;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.sidebar footer p {
    color: var(--muted-text);
    font-size: 0.8rem;
}

.sidebar footer div {
    display: flex;
    gap: 1.5rem;
    flex-direction: column;
}

.sidebar footer a {
    text-decoration: none;
    color: var(--muted-text);
    transition: color 0.3s ease;
}

.sidebar footer a:hover {
    color: var(--accent-color);
}

.sidebar footer {
    /* margin-top: auto; */
    padding-top: 1.5rem;
    border-top: 1px solid #334155;
}

.menu-toggle {
    display: none;
    position: relative;
    z-index: 1000;
}


/* mobile layout */

@media (max-width: 780px) {
    .sidebar {
        width: 100vw;
        height: 100px;
        min-height: auto;
        position: sticky;
        top: 0;
        left: 0;
        padding: 1rem 1.5rem;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }


    .sidebar img {
        max-height: 100px;
        align-items: center;
        margin-bottom: auto;
        position: absolute;
    }

    .nav-links {
        display: none;
    }



    .nav-links.open {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        width: 100%;

    }


    /* 
    .social-links {
        display: block;
        flex-direction: row;
        align-items: center;
        margin: 0;
        padding: 0;
        position: absolute;
        right: 10px;
    } */

    .sidebar footer {
        display: none;
    }


}


@media (max-width: 360px) {

    .sidebar {

        position: absolute;
        left: 0;
        top: 0;

        display: none;
        flex-direction: column;

        padding: 2rem 1.5rem;
        border-right: 1px solid #334155;
        background-color: var(--card-color);

    }

    /* .nav-links.open {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        width: 100%;

    } */

    .nav-links {
        display: none;
    }



    .menu-toggle {
        display: block;
        margin-left: auto;
        right: 20%;
        position: fixed;

    }

    .sidebar ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto;
    }

    .social-links {
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        display: none;
    }
}